@import "../../styles/config/export";

.auth-forms {
	.MuiTabs-flexContainer {
		display: flex;
		justify-content: center;

		.tab {
			width: 50%;
			color: black;
			border-color: $color-primary-main;
		}
	}
}

.AuthForms__HelperText {
	margin-bottom: $spacing-3;
}
