$padding-std: 8px;
$item-spacing-std: 4px;
$border-radius-std: 4px;
$width-card: 700px;

$color-primary-light: #007bc3;
$color-primary-main: #004b8d;
$color-primary-dark: #002d6b;
$color-secondary-main: #f2a900;

$bottom-nav-height: 56px;
