$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 32px;
$spacing-6: 48px;
$spacing-7: 64px;

//? See page 72 of 'Refactoring UI'

$padding-std: $spacing-5;
$item-spacing-std: $spacing-5;

$border-radius-std: 4px;

$width-card: 700px;

$color-primary-light: #007bc3;
$color-primary-main: #004b8d;
$color-primary-dark: #002d6b;
$color-secondary-main: #f2a900;

$bottom-nav-height: 56px;
