@import "../../styles/config/variables";
.ProfilePage {
	position: relative;

	.section-title {
		position: relative;

		.edit-button {
			position: absolute;
			right: 0;
		}
	}

	.profile-fields {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.backToRequestsButton {
	width: 700px;
	max-width: 95vw;
	position: relative;
	top: $spacing-4;

	label {
		margin-left: $spacing-4;
	}
}
