@import "../../styles/config/variables";
.ProfilePage {
	position: relative;
	.backToRequestsButton {
		width: 100%;
		position: absolute;
		bottom: ($spacing-8) * -1;

		label {
			margin-left: $spacing-4;
		}
	}

	.profile-fields {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}
