@import "../../../styles/config/mixins";
@import "../../../styles/config/variables";

.status-message {
	padding: $spacing-5;

	@at-root form > & {
		margin-bottom: $spacing-5;
		margin-top: $spacing-5;
	}

	&.positive {
		background-color: $color-positive-lightest;

		&.border {
			border-color: $color-positive-dark;
		}
	}

	&.negative {
		background-color: $color-negative-lightest;

		&.border {
			border-color: $color-negative-dark;
		}
	}

	&.neutral {
		background-color: $color-primary-lightest;

		&.border {
			border-color: $color-primary-dark;
		}
	}

	&.warning {
		background-color: $color-warning-lightest;

		&.border {
			border-color: $color-warning-dark;
		}
	}

	&.border {
		@each $side in ("left", "top", "right", "bottom") {
			&.border-#{$side} {
				border-#{$side}-width: 4px;
				border-#{$side}-style: solid;
			}
		}
	}

	> :first-child {
		margin-top: 0;
	}
	> :last-child {
		margin-botom: 0;
	}
}
