$padding-std:8px;
$item-spacing-std:4px;
$border-radius-std:4px;
$width-card:700px;

$color-primary-main:#004B8D;
$color-primary-light:#3CA5D5;
$color-primary-dark:#00254A;
$color-secondary-main:#F2A900;