@import "config/export";

* {
	box-sizing: border-box;
}

#App {
	height: calc(100vh - 56px);
	font-family: Roboto, sans-serif;
}

#content {
	//FIXME: Tall content gets top chopped off
	@include flex-wrapper();
	height: 100%;
	overflow-y: scroll;

	$padding-spacing: $spacing-2;
	@include vertical-padding($padding-spacing);

	& > .card {
		width: 700px;
	}

	.container > :first-child {
		margin-top: 0;
	}

	.container > :last-child {
		margin-bottom: 0;
	}
}

.MuiCard-root,
.MuiPaper-root {
	padding: $spacing-5;

	@media (max-width: 800px) {
		padding: $spacing-4;
	}
	@media (max-width: 600px) {
		padding: $spacing-3;
	}

	max-width: 95vw;
}
//TODO: Media query to increase padding on larger screens
.bottom-navigation-bar {
	position: fixed;
	width: 100%;
	bottom: 0;
}

.flexbox {
	width: 100%;
	height: 100%;
	@include flex-wrapper();
}

.MuiPickersModal-dialogRoot {
	padding: 0;
}
