@import "variables";
@import "mixins";
@import "functions";

.calendar-container {
	// @include border-radius($border-radius-std);
	//? Because the background colour i on the cells not the table, you need too apply the border radius to the corner cells

	overflow: hidden;

	.calendar-day-cell:not(.calendar-emptyDay) {
		//Calendar Day Element Class Structure:
		// '.calendar-day-cell' is the table cell
		//'inner-wrapper' is the hover target and also the element that becomes coloured when the date is selected
		//'number-wrapper' is the heat map coloured element

		padding: 0;
		text-align: center;
		font-weight: 600;
		cursor: pointer;

		$selected-day-colour: $color-primary-light;

		.calendar-day-inner-wrapper {
			margin: auto;
			// overflow:hidden;
			$size: 80%;
			@include square($size);
			@include flex-wrapper-height($size);
			@include border-radius(50px);

			&:hover {
				background-color: rgba(0, 0, 0, 0.2);
			}

			.calendar-day-number-wrapper {
				//Heat map coloured element
				margin: auto;

				$size: 30px;
				@include border-radius(4px);
				@include square($size);
				@include flex-wrapper-height($size);

				.calendar-day-number {
					margin: auto;
				}
			}
		}

		$selected-border: 4px solid $selected-day-colour;

		&.calendar-day-selected {
			.calendar-day-inner-wrapper {
				// background-color: $selected-day-colour;
				border: $selected-border;
				width: 100%;

				&:hover {
					background-color: shade($selected-day-colour, 20);
				}
			}

			&.calendar-day-first-selection {
				.calendar-day-inner-wrapper {
					@include border-radius(50px 0 0 50px);
					border-left: $selected-border;
				}
			}
			&.calendar-day-second-selection {
				.calendar-day-inner-wrapper {
					@include border-radius(0 50px 50px 0);
					border-right: $selected-border;
				}
			}
		}

		&.calendar-day-inside-selection {
			//# If a day is inside the selection but is nether the first or last day
			.calendar-day-inner-wrapper {
				// background-color: $selected-day-colour;
				@include border-radius(0);
				width: 100%;
				border-top: $selected-border;
				border-bottom: $selected-border;
			}
		}
	}
}
