@import "variables";
@import "mixins";
@import "functions";

.calendar-container {
	// @include border-radius($border-radius-std);
	//? Because the background colour i on the cells not the table, you need too apply the border radius to the corner cells

	overflow: hidden;
	width: 100%;

	$cell-height: 50px;

	.calendar-day-cell {
		height: $cell-height;
	}

	.calendar-day-cell:not(.calendar-emptyDay) {
		//Calendar Day Element Class Structure:
		// '.calendar-day-cell' is the table cell
		//'inner-wrapper' is the hover target and also the element that becomes coloured when the date is selected
		//'number-wrapper' is the heat map coloured element
		padding: 0;
		text-align: center;
		font-weight: 600;
		cursor: pointer;

		$selected-colour: $color-primary-light;

		.flex-wrapper {
			display: flex;
			position: relative;
			@include square(100%);

			.overlay-target-outer-wrapper {
				display: flex;
				width: 100%;
				height: $cell-height;

				position: absolute;

				.overlay-target-inner-wrapper {
					margin: auto;
					@include square($cell-height);

					position: relative;

					.overlay-target {
						position: absolute;
						margin: auto;
						@include square($cell-height);

						&.hover {
							@include border-radius(50px);
						}
					}
				}
			}

			.day-number {
				margin: auto;
			}

			&:hover {
				.overlay-target.hover:hover {
					background-color: rgba(0, 0, 0, 0.2);
				}
			}
		}
	}
}
