@import "variables";
@import "mixins";
@import "functions";

.leave-form {
	.calendar-container {
		// @include border-radius($border-radius-std);
		//? Because the background colour i on the cells not the table, you need too apply the border radius to the corner cells

		overflow: hidden;
		width: 100%;

		$cell-height: 50px;

		margin-bottom: $item-spacing-std;

		.calendar-day-cell {
			height: $cell-height;

			&:not(.empty) {
				padding: 0;
				text-align: center;
				font-weight: 600;
				cursor: pointer;

				$selected-colour: $color-primary-light;

				.flex-wrapper {
					position: relative;

					@include flex-wrapper();
					@include square(100%);

					.overlay-target-outer-wrapper {
						position: absolute;

						width: 100%;
						height: $cell-height;

						@include flex-wrapper();

						.overlay-target-inner-wrapper {
							position: relative;

							margin: auto;

							@include square($cell-height);

							.overlay-target {
								position: absolute;
								margin: auto;

								@include square($cell-height);
								@include border-radius(50px);

								&.selection {
									z-index: 9;
								}
							}

							&.hover {
								z-index: 11;
							}
						}
					}

					.overlay-target.selection-range {
						position: absolute;

						@include flex-wrapper();
						@include square(100%);
						@include border-radius(0px);

						.left,
						.right {
							display: block;
							height: 70%;
							width: 50%;
							margin: auto;
							opacity: 0.2;
						}
					}
				}

				.day-number {
					margin: auto;
					z-index: 10;
				}

				&:hover {
					.overlay-target.hover {
						background-color: rgba(0, 0, 0, 0.2);
					}
				}
				&.selected {
					.overlay-target {
						&.selection {
							background-color: $selected-colour;
							@include transform(none !important);
						}
					}
				}

				&.in-selection {
					.overlay-target.selection-range {
						.left,
						.right {
							background-color: $selected-colour;
						}
					}
				}

				&.selected.first .overlay-target.selection-range .right {
					background-color: $selected-colour;
				}
				&.selected.second .overlay-target.selection-range .left {
					background-color: $selected-colour;
				}
			}
		}
	}

	.selected-dates-container {
		display: flex;
		.selected-date-field {
			margin: auto;
			width: 150px;

			input {
				text-align: center;
			}
		}
	}
}
