@import "../../styles/config/variables";

$gap: $spacing-4;
.FloatingButtons__root {
	position: fixed;
	top: $gap;
	right: $gap;
}

.FloatingButtons__button {
	margin-left: $spacing-2;
	color: white;
}
