@import "../../../styles/config/variables";

.register-verification-instructions {
	.action-buttons-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		& > :first-child {
		}

		& > button {
			flex-grow: 0;
		}
	}
}
