@import "../../../styles/config/variables";

.ProfileItem {
	width: 100%;
	min-width: 200px;

	$gap: $spacing-3;

	margin-right: 0;
	margin-bottom: $gap;

	@media only screen and (min-width: 550px) {
		width: calc(50% - #{$gap / 2});
	}

	.label {
		width: max-content;
		width: 100%;
	}

	.item-icon {
		margin-right: $spacing-3;
	}

	// transition: width 0.5s;
	@at-root .profile-fields.editMode & {
		width: 100%;
	}
}
