@import "../../styles/config/export";

.leave-item {
	@include vertical-spacing($spacing-6);

	$height: 150px;

	width: 95vw;
	max-width: 500px;

	display: flex;
	height: $height;

	padding: 0;

	.request-status {
		width: $height;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		color: white;

		.status-icon {
			font-size: $fontSize-8 !important;
		}

		&[status="1"] {
			background-color: $color-positive-main;
		}
		&[status="0"] {
			background-color: $color-warning-main;
		}
		&[status="-1"] {
			background-color: $color-negative-main;
		}
	}

	.body {
		display: flex;
		flex-direction: column;

		box-sizing: border-box;
		flex-grow: 1;

		.leave-item-body-row {
			width: 100%;
			margin: 0;
			flex-grow: 1;

			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
