@import "../../styles/config/export";

.leave-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100%;

	.leave-item {
		@include vertical-spacing($spacing-4);

		$padding: $spacing-2;
		$height: 50px + $padding * 2 !important;
		border-radius: 4px; //?Required to format the skeleton loading indicator

		width: 95vw;
		max-width: 500px;

		display: flex;
		height: $height;

		padding: 0;

		.request-status {
			width: $height;
			height: 100%;

			display: flex;
			justify-content: center;
			align-items: center;

			color: white;

			.status-icon {
				font-size: $fontSize-8 !important;
			}

			&[status="1"] {
				background-color: $color-positive-main;
			}
			&[status="0"] {
				background-color: $color-warning-main;
			}
			&[status="-1"] {
				background-color: $color-negative-main;
			}
		}

		.body {
			display: flex;
			flex-direction: row;

			box-sizing: border-box;
			flex-grow: 1;
			position: relative;
			padding: $padding;

			& > * {
				flex-grow: 1;
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			.request-submit-date {
				&::before {
					content: "Submitted: ";
				}
			}
			.start-end {
				border-right: 1px solid darkgrey;
			}
		}
	}
}
