@import "../../styles/config/export";

.leave-form {
	.form-item {
		width: 100%;
	}
	.date-field {
		&:first-of-type {
			margin-bottom: 0 !important;
		}
		input {
			text-align: center;
		}
	}

	.extra-data {
		$border: 1px solid $input-border-grey;
		border-top: $border;
		border-bottom: $border;

		@include vertical-padding($spacing-3);

		.leave-length-field {
			width: 3.8em;

			display: inline-block;

			@include horizontal-margin($spacing-1);

			input {
				padding: $spacing-1;
			}
		}
	}
	.date-field-divider {
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: space-around;

		margin-bottom: 0 !important;
		&::before,
		&::after {
			content: "";
			flex: 1;
			border-bottom: 1px solid $input-border-grey;
		}
		&::before {
			margin-right: 0.25em;
		}
		&::after {
			margin-left: 0.25em;
		}
	}
}

.inner-modal {
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;

	.request-result-card {
		margin: auto;
		width: 500px;
		max-width: 90vw;

		.invalid-days {
			list-style: none;
			padding-left: 0;
			margin: 0;
			margin-top: $spacing-1;
			font-weight: bold;

			li::before {
				padding-right: $spacing-2;
				content: "-";
			}
		}

		.try-again-msg {
			margin: 0;
			margin-top: $spacing-1;
		}

		button {
			margin-top: $spacing-2;
		}
	}
}

.MuiDialogContent-root {
	overflow-y: hidden !important;
}
