@import "../../styles/config/export";

.leave-form {
	.datepickers-wrapper {
		@include flex-wrapper();
		flex-wrap: wrap;

		width: 100%;

		.calendar-wrapper {
			@include flex-wrapper();
			flex-wrap: wrap;

			width: 300px;

			$margin-spacing: $spacing-2;
			&:first-child {
				margin-right: $margin-spacing;
			}
			&:last-child {
				margin-left: $margin-spacing;
			}

			margin-bottom: $spacing-2;

			.MuiPickersStaticWrapper-staticWrapperRoot,
			.date-field {
				width: 80%;
			}

			.date-field {
				input {
					text-align: center;
				}
				min-width: 5em;
			}
		}
	}
}

.inner-modal {
	margin: auto;
	width: 100%;
	height: 100%;
	display: flex;

	.request-result-card {
		margin: auto;
		width: 700px;
		max-width: 90vw;
	}
}
